.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    margin: 92px 48px 24px 48px;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}
  
@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
        margin: 88px auto 24px auto;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        max-width: 186px;
        margin: 64px auto 24px 16px;
    }
}